{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container">
    <div class="alert alert-info d-flex justify-content-between" role="alert">
      <h5>Available Public Rooms</h5>
      <a href="/accounts/logout/">
        <button type="button" class="btn btn-light">Click to Log Out</button>
      </a>
    </div>

    {% if rooms %}
    <div class="row equal">
      {% for room in rooms %}
      <div class="col-sm-4 d-flex pb-3">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-block">
            <h3 class="card-title">{{ room.name }}</h3>
            <p class="card-text">It is a Public group for this Project.</p>
            <a href="/{{ room.slug }}" class="btn btn-outline-secondary">Go to Room</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    No Rooms Available!
    {% endif %}
  </div>
{% else %}
<div class="container">
  <div class="alert alert-info d-flex justify-content-between" role="alert">
    <h5>You are not logged in</h5>
    <a href="/accounts/logout/">
      <button type="button" class="btn btn-light"><a href="{% url 'login' %}">Log In</a></button>
    </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info d-flex justify-content-between" role="alert">
    <h5>You are not logged in</h5>
    <a href="/accounts/register/">
      <button type="button" class="btn btn-light"><a href="{% url 'register' %}">Register</a></button>
    </a>
  </div>
</div>
{% endif %}
<br />



<script>
  // JavaScript for WebSocket Chat
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    var div = document.createElement("div");
    div.innerHTML = "<b>" + data.sender_username + "</b> : " + data.message;

    // Add class based on user authentication
    if (data.sender_username === "{{ request.user.username }}") {
      div.classList.add("chat-message", "text-right");
    } else {
      div.classList.add("chat-message", "text-left");
    }

    document.querySelector("#my_input").value = "";
    document.querySelector("#chatbox").appendChild(div);
    scrollToBottom();
  };

  document.querySelector("#submit_button").onclick = function (e) {
    var messageInput = document.querySelector("#my_input").value;

    if (messageInput.length == 0) {
      alert("Add some Input First Or Press Send Button!");
    } else {
      chatSocket.send(JSON.stringify({
        message: messageInput,
        room_name: "{{ room_name }}", // Identify the room
      }));
    }
  };
</script>

{% endblock %}
